/* You can add global styles to this file, and also import other style files */
@import './assets/scss/main.scss';
html, body { height: 100%; }
body,h1,h2,h3,h4,h5,h6,image { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// .container{
//   width: 62%;
// }
.bg-body{
  background-color: var(--bg-body) !important;
}
//modals
.title{
  color: var(--color-label);
  font-size: 16px;
  font-weight: 600;
}
.body-color{
  color: var(--holder-color);
}
